<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.charcoal.dao.mapper.CharcoalActivityMapper">
    <sql id="charcoal_activity_record_columns">
        is_delete,
        activity_name,
        banner,
        child,
        description,
        end_time,
        feature,
        game_id,
        game_name,
        game_url,
        gmt_create,
        gmt_modified,
        id,
        json_config,
        main,
        memo,
        outer_id,
        owner_id,
        owner_nick,
        parent_id,
        pool_id,
        rel_type,
        resource,
        start_time,
        status,
        tag,
        tips,
        type,
        owner_type,
        group_id,
        str_id,
        scheduled
    </sql>



</mapper>
